* {
  margin: 0;
  box-sizing: border-box;
}
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;700&display=swap"); */
body {
  background-color: hsl(233, 47%, 7%); /* Test Header.html */
  font-family: "Poppins", sans-serif;
}
/* Propiedades Reutilizables */
.title--big,
.title--lil {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}
.title--lil {
  font-size: 2rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*<!--Home-->*/
.home {
  background-color: hsl(233, 47%, 7%);
  height: 100vh;
}
/*<!--Title-Welcome-->*/
.cont-title {
  height: 100vh;
  flex-direction: column;
}
/*###########################*/
/*###########################*/
/*<!--Personal-Info-->*/
.per-info {
  padding: 55px 32px 0 32px;
  min-height: 450px;
  background-color: teal;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.cont-image {
  max-width: 380px;
  min-width: 250px;
  max-height: 395px;
  display: none;
}
@media (min-width: 710px) {
  .cont-image {
    display: inherit;
  }
}
.per-info__image {
  width: 100%;
  object-fit: cover;
}
.cont-per-info {
  max-width: 610px;
}
.per-info__title {
  text-align: center;
  margin-bottom: 46px;
}
@media (min-width: 710px) {
  .per-info__title {
    text-align: inherit;
  }
}
.per-info__paragraph {
  margin-bottom: 50px;
}
/*###########################*/
/*###########################*/
/*<!--Services-->*/
.svcs {
  min-height: 600px;
  height: auto;
  padding: 70px 50px 60px 50px;
  text-align: center;
  flex-direction: column;
}
.svcs__title {
  margin-bottom: 50px;
}
.cont-svcs-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.cont-svcs {
  flex-direction: column;
  margin-bottom: 100px;
  max-width: 315px;
}
@media (min-width: 768px) {
  .cont-svcs {
    margin-bottom: 70px;
  }
}
.svcs__image {
  background-color: turquoise;
  width: 138px;
  height: 128px;
}
.svcs__sub-title {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
