/*<!--Servicios-->*/
/* Utiliza propiedades del Index.css */
body > .home {
  height: auto;
  padding: 200px 0 100px 0;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 768px) {
  body > .home {
    padding-top: 250px;
    /* background-image: linear-gradient(to bottom right, #6fdbcc, #2a85ba); */
    background-image: linear-gradient(to bottom right, #e82c54, #070960);
    justify-content: flex-end;
  }
}
.home > .cont-title {
  height: auto;
}
@media (min-width: 768px) {
  .home > .cont-title {
    align-items: flex-start;
    margin-left: 90px;
  }
}
.cont-svcs > .svcs__image {
  background-color: rgb(179, 26, 218);
  width: 18rem;
  height: 10.6rem;
}
